@(category: models.category.Category)

@main("Caroline & Bertrand : " + category.title){

<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
<script src='@routes.Assets.at("javascripts/comboCategory.js")'></script>
<script src='@routes.Assets.at("javascripts/comboGallery.js")'></script>
<script src='@routes.Assets.at("javascripts/tableGallery.js")'></script>
}{

@menu(category.categoryId, category.title, "Gallerie")

<table class="table" id="galleryTable" data-list="@controllers.gallery.routes.Galleries.listBasic(category.categoryId)">

</table>

}