@(gallery: models.gallery.Gallery)

@main("Caroline & Bertrand : " + gallery.title){

<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
<script src='@routes.Assets.at("javascripts/comboCategory.js")'></script>
<script src='@routes.Assets.at("javascripts/comboGallery.js")'></script>
}{

@menu(gallery.categoryId, "", gallery.title)

@for(subList <- gallery.pictures.sliding(4, 4)) {
<div class="row">
    @for(picture <- subList) {
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <img src='@picture.thumbnail' class="img-thumbnail">
        </div>
    </div>
    }
</div>
        <br>
}

}