@(categoryId: Int, categoryTitle: String, galleryTitle: String)

<div class="navbar navbar-default">
    <div class="navbar-header">
        <a href="/">
            <span class="navbar-brand"><span
                    class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Caroline et Bertrand</span>
        </a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@categoryTitle <b class="caret"></b></a>
                <ul id="categoryMenu" class="dropdown-menu" data-list="@controllers.category.routes.Categories.list">
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@galleryTitle <b class="caret"></b></a>
                <ul id="galleryMenu" class="dropdown-menu" data-list="@controllers.gallery.routes.Galleries.listBasic(categoryId)">
                </ul>
            </li>
        </ul>
    </div>
</div>